<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backup Commander</title>

    <link rel="stylesheet" href="../jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="../jqwidgets/styles/jqx.darkblue.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/button.css">
    <link rel="stylesheet" href="../assets/css/container.css">
    <link rel="stylesheet" href="../assets/css/error.css">
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/table.css">
    <link rel="stylesheet" href="../assets/css/theme.css">
    <link rel="icon" href="../assets/img/icon.png">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript" src="../jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxdatatable.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="../jqwidgets/jqxcombobox.js"></script>

    <script type="text/javascript" src="../assets/js/init.js"></script>
    <script type="text/javascript" src="../assets/js/theme.js"></script>
    <script type="text/javascript" src="../assets/js/error.js"></script>
    <script type="text/javascript" src="../assets/js/logout.js"></script>
    <script type="text/javascript" src="../assets/js/table.js"></script>
    <script type="text/javascript" src="../assets/js/instance.js"></script>
    <script type="text/javascript" src="../assets/js/save_order.js"></script>
</head>

<body>
    <header class="app-header">
        <img src="../assets/img/icon.png" alt="Backup Commander Logo" class="app-logo">
        <p class="app-name">Backup Commander</p>
    </header>
    <input type="button" id="logoutButton" value="Wyloguj się" />
    <div id="confirmContainer">
        <label for="instanceDisplay">Wybierz instancję SQL:</label>
        <div id="instanceDisplay"></div>

        <h2>Bazy danych z wybranej instancji</h2>
        <div id="dtable"></div>

        <label for="emailInput">E-mail:</label>
        <input type="email" id="emailInput" placeholder="Wprowadź swój adres e-mail" required />

        <label for="passwordInput">Hasło do pliku ZIP:</label>
        <input type="password" id="passwordInput" placeholder="Wprowadź swoje hasło" required />

        <input type="button" id="okButton" value="Zleć wykonanie kopii zapasowej" />
    </div>

    <div id="result"></div>

    <div class="theme-switch">
        <div class="switch_container">
            <span class="theme-text">Zmień motyw</span>
            <input type="checkbox" id="themeToggle">
            <label for="themeToggle" class="slider"></label>
        </div>
    </div>

    <div id="errorContainer" class="errorContainer" style="display:none;">
        <div id="errorMessage" class="error-message"></div>
        <button id="closeError" class="close-btn">X</button>
    </div>
</body>

</html>